@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*====================
Reset Default CSS Start
====================*/

:root {
  --primary-font: "Poppins", sans-serif;
  --secendary-font: "Roboto", sans-serif;
  --white: #ffffff;
  --primary-color: #1b2a32;
  --secendary-color: #0266e0;
  --strock-color: #7c7c7c;
  --gray-text: #7c7c7c;
  --bg-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  margin: 0px;
}
a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--secendary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--secendary-font);
}

input {
  outline: none;
}

/*====================
Reset Default CSS End
====================*/

/* Hero Start */

#hero {
  padding: 8px 0px 48px 0px;
}

#hero .hero_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hero_wrapper .category_sidebar {
  width: 25%;
  background: var(--primary-color);
}

.hero_wrapper .hero-slider {
  width: 75%;
}

.hero-slider {
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}
.hero-slider .slide-bg-image {
  background-image: url(../img/hero-bg-slider-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blackfont {
  color: black !important;
}

.whitefont {
  color: var(--white) !important;
  font-size: 36px !important;
  font-family: var(--primary-font);
  margin: 0px !important;
  padding: 0px 0px 20px 0px;
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
  height: 420px;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 12px !important;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  margin: 6px !important;
  color: #000;
  opacity: 0.3;
  background: #dddddd;
  transition: all 0.2s ease;
  border-radius: 2px !important;
  transform: rotate(-135deg);
}

.hero-slider .swiper-pagination-bullet-active {
  opacity: 1;
  color: var(--white) !important;
  transform: rotate(-135deg) scale(1.1);
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-pagination {
  text-align: left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
  max-width: 1200px;
  padding: 0 28px;
  display: table;
  margin: 0 auto;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
}

.hero-style {
  height: 420px;
  transition: all 0.4s ease;
}

.hero-style .slide-title,
.hero-style .slide-btns {
  max-width: 690px;
  padding-left: 60px;
}

.hero-style .slide-title h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition: all 0.4s ease;
}

.hero-style .slide-offer {
  max-width: 400px !important;
  background: var(--white) !important;
  margin-left: -13px;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.hero-style .slide-offer span {
  font-size: 14px;
  font-family: var(--primary-font);
  vertical-align: super;
  padding-right: 4px;
}

.hero-slide-product {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

.hero-slide-product img {
  width: 80%;
}

.hero-style .slide-offer h1 {
  font-family: var(--primary-font);
  font-size: 24px !important;
  font-weight: bold;
  padding: 10px 0px 10px 73px;
  letter-spacing: normal;
  color: var(--bg-color) !important;
  margin: 0px 0px 0px 0px;
  transition: all 0.4s ease;
}

.theme-btn {
  background-color: var(--white);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: var(--bg-color) !important;
  font-family: var(--secendary-font);
  padding: 10px 22px;
  border-radius: 6px;
  display: inline-block;
  line-height: initial;
  transition: all 0.4s ease;
  margin-top: 20px;
  border: 1px solid var(--white);
}

.theme-btn:hover,
.theme-btn:focus,
.theme-btn:active:active {
  background-color: var(--bg-color);
  color: var(--white) !important;
  border: 1px solid #dddddd;
}

@media screen and (max-width: 992px) {
  .category_sidebar {
    display: none;
  }

  .hero_wrapper .hero-slider {
    width: 100% !important;
  }

  .whitefont {
    font-size: 26px !important;
  }

  .hero-style .slide-offer h1 {
    font-family: var(--primary-font);
    font-size: 18px !important;
  }
  .hero-style .slide-offer span {
    font-size: 12px;
  }

  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
    display: none;
  }
  .hero-slider {
    height: 420px;
  }

  .hero-style {
    height: 420px;
  }

  .hero-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
  .theme-btn {
    font-size: 12px !important;
    padding: 8px 18px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title,
  .hero-style .slide-btns {
    max-width: 690px;
    padding-left: 10px;
  }

  .hero-style .slide-offer h1 {
    padding: 6px 0px 6px 23px;
    margin-top: 10px;
  }

  .hero-slide-product {
    width: 100%;
    margin-top: 0px;
  }
  .hero-slide-product img {
    width: 100px;
  }

  .whitefont {
    font-size: 20px !important;
    padding-bottom: 10px;
  }

  .hero-style .slide-offer h1 {
    font-family: var(--primary-font);
    font-size: 14px !important;
  }
  .hero-style .slide-offer span {
    font-size: 10px;
  }

  .theme-btn {
    font-size: 12px !important;
    padding: 6px 16px;
  }
  .hero-slider {
    height: 420px;
  }
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
  }
  .hero-style {
    height: 420px;
  }
  .hero-style .slide-title h2 {
    font-size: 35px;
    margin: 0 0 30px;
  }
  .hero-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }

  .hero-slider .slide-inner {
    width: 100%;
    height: 330px !important;
  }

  .hero-style {
    height: 330px !important;
    transition: all 0.4s ease;
  }
}

/* Hero End */

/* Explore Our Services Start */

.services-service-sec {
  background-color: var(--white);
}

.services-service-sec h2 {
  font-size: 28px;
  color: var(--bg-color);
  font-family: var(--primary-font);
  font-weight: bold;
}

.services-service-sec .col {
  padding: 0 0.8em 1.5em 0.8em;
  text-align: center;
}

.services-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  background: var(--white);
  border: 1px solid #dddddd;
}

.services-service-sec .service-card:hover {
  background: var(--secendary-color);
}

.services-service-sec .service-card:hover .read-more-btn,
.services-service-sec .service-card:hover h3,
.services-service-sec .service-card:hover p {
  color: var(--white);
  border-color: var(--white);
}

.services-service-sec .service-card:hover .read-more-btn:hover {
  border-color: var(--white);
  background: var(--white);
  color: var(--bg-color);
}

.services-service-sec h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--bg-color);
  margin: 1em 0;
  z-index: 3;
}

.services-service-sec p {
  color: var(--gray-text);
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.services-service-sec .icon-wrapper {
  position: relative;
  margin: auto;
}

.service-card .icon-wrapper {
  width: 70px;
  height: 70px;
}

.service-card .icon-wrapper img {
  width: 100%;
}

.service-card .read-more-btn {
  display: inline-block;
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--secendary-font);
  transition: 0.4s;
}

/* Explore Our Services End */

/* Our Products Start */
#our_product {
  padding: 48px 0;
  background: var(--white);
}

.product_heading h2 {
  color: var(--bg-color);
  font-family: var(--primary-font);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.view_more_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view_more_wrapper .server {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  color: var(--secendary-color);
  margin: 0;
  border-bottom: 1px solid var(--secendary-color);
}

.view_more_btn {
  display: inline-block;
  color: var(--bg-color);
  border-radius: 5px;
  background: none;
  font-size: 12px;
  font-family: var(--secendary-font);
  font-weight: 400;
  padding: 5px 14px;
  border: 1px solid var(--primary-color);
  transition: 0.4s;
}

.view_more_btn:hover {
  background: var(--bg-color);
  color: var(--white);
}

.product_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.product_card {
  padding: 14px 0;
}

.product_card_item {
  position: relative;
  width: 100%;
  padding: 18px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  transition: 0.4s;
}

.product_card_item:hover {
  border-color: var(--secendary-color);
}

.product_img img {
  width: 140px;
  height: 140px;
}

.product_card_details {
  text-align: center;
}

.product_card_details .brand_name {
  font-size: 14px;
  color: var(--gray-text);
  font-family: var(--secendary-font);
  font-weight: 500;
}

.product_card_details .model {
  font-size: 14px;
  color: var(--bg-color);
  font-family: var(--primary-font);
  font-weight: 600;
}

.product_card_details .rating_star .fa-star {
  font-size: 14px;
  color: #fdc904;
  margin-bottom: 10px;
}

.product_card_details .current_price h3 {
  font-size: 14px;
  color: var(--gray-text);
  text-decoration: line-through;
  font-family: var(--primary-font);
}

.product_card_details .discount_price h4 {
  font-size: 16px;
  color: var(--secendary-color);
  font-family: var(--primary-font);
}

.product_cart_btn {
  display: block;
  margin: auto;
  bottom: 20px;
  left: 0px;
  right: 0px;
  width: calc(100% - 40px);
  margin-top: 50px !important;
  position: absolute;
  background: var(--secendary-color);
  color: var(--white);
  padding: 6px 0;
  text-align: center;
  font-size: 12px;
  font-family: var(--secendary-font);
  border-radius: 4px;
  transition: 0.4s;
}

.product_cart_btn:hover {
  background: var(--bg-color);
}

.divider {
  width: 100%;
  height: 1px;
  background: #dddddd;
  margin: 20px 0px 25px 0px;
}

.box_wrapper {
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .product_card_item {
    margin: 10px 0;
  }
}

/* Our Products End */

/* Our Client Slider Start */

#our_client .owl-slider {
  margin: 0 100px;
}

#our_client .owl-slider-heading h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 40px;
}

#our_client {
  margin: 48px 0;
}
#our_client .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
#our_client .owl-nav button.owl-prev {
  display: none !important;
}
#our_client .owl-nav button.owl-next {
  display: none !important;
}

#our_client .owl-stage {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  margin-left: 2px;
}

#our_client .owl-carousel .item {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  height: 100px;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  transition: 0.4s;
}

#our_client .owl-carousel .item:hover {
  border-color: var(--secendary-color);
}

#our_client .owl-carousel .item img {
  width: 100%;
  background-size: cover;
}

#our_client .owl-dots {
  text-align: center;
  padding-top: 15px;
}

#our_client .owl-dots button.owl-dot {
  width: 11px;
  height: 11px;
  display: inline-block;
  background: #dddddd !important;
  margin: 0 8px;
  border-radius: 2px;
  transform: rotate(135deg) !important;
}

#our_client .owl-dots button.owl-dot.active {
  background-color: var(--secendary-color) !important;
  transform: rotate(135deg) scale(1.2) !important;
}

#our_client .owl-dots button.owl-dot:focus {
  outline: none;
}

#our_client .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

#our_client span {
  font-size: 70px;
  position: relative;
  top: -5px;
}

#our_client .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  #our_client .owl-carousel .item {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  #our_client .owl-slider {
    margin: 0px !important;
  }
}

/* Our Client Slider End */

/* Troubleshooting contact Start */

#troubleshooting_contact {
  width: 100%;
  background-image: url(../img/troubleshooting-contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
}

.trouble_wrapper {
  text-align: center;
}

.trouble_wrapper h1 {
  font-size: 32px;
  font-family: var(--primary-font);
  color: var(--bg-color);
  font-weight: 600;
}

.trouble_wrapper p {
  display: block;
  margin: auto;
  justify-content: center;
  max-width: 490px;
  text-align: center;
  font-size: 12px;
  font-family: var(--secendary-font);
  color: var(--white);
  font-weight: normal;
}

.troubleshoot_contact_btn {
  background: var(--white);
  font-size: 14px;
  font-family: var(--secendary-font);
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 8px;
  margin-top: 30px;
  transition: 0.4s;
}

.troubleshoot_contact_btn:hover {
  background: var(--bg-color);
  color: var(--white);
}
/* Troubleshooting contact End */
