@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*====================
Reset Default CSS Start
====================*/

:root {
  --primary-font: "Poppins", sans-serif;
  --secendary-font: "Roboto", sans-serif;
  --white: #ffffff;
  --primary-color: #1b2a32;
  --secendary-color: #0266e0;
  --strock-color: #7c7c7c;
  --gray-text: #7c7c7c;
  --bg-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  margin: 0px;
}
a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--secendary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--secendary-font);
}

input {
  outline: none;
}

/*====================
Reset Default CSS End
====================*/

/* Topbar Start */
#topbar {
  background: var(--bg-color);
  padding: 12px 0;
}

.topbar_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_item_text {
  color: var(--white);
  font-family: var(--secendary-font);
  font-size: 16px;
  margin: 0px;
}

.topbar_item_text span {
  font-weight: 700 !important;
}

.currency_dropdown .currency_btn {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 2px 6px;
}

.currency_dropdown .currency_btn i {
  color: var(--white);
}

.currency_dropdown .dropdown-menu {
  margin-top: 13px !important;
}

.currency_dropdown .dropdown-menu .dropdown-item {
  border-radius: 6px;
}

.output {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: white;
}

/* Cursor Styling */
.cursor {
  font-family: var(--secendary-font);
  margin-bottom: 0px !important;
  font-size: 1em !important;
}
.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

p.cursor::after {
  height: 8px;
  width: 4px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  #topbar {
    display: none;
  }
}
/* Topbar End */

/* Navbar Header Start */
#navbar_header {
  background: var(--white);
  padding: 20px 0;
}

.header_logo {
  width: 300px;
  height: 70px;
}

.header_logo img {
  width: 100%;
}

.navbar_header_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_header_item .user_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar_header_item .user_item p {
  margin: 0px 0px 6px 0px;
  font-size: 15px;
  color: var(--gray-text);
  font-family: var(--secendary-font);
}

.navbar_header_item .user_item h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #1b2a32;
  font-family: var(--secendary-font);
}

.navbar_header_item .user_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar_header_item .add_cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add_cart_icon {
  position: relative;
}

.add_cart_icon .cart_noti {
  position: absolute;
  top: 3px;
  right: 3px;
  text-align: center;
  width: 14px;
  height: 14px;
  background: var(--secendary-color);
  color: var(--white);
  border-radius: 50%;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .navbar_header_item .user_item {
    gap: 5px !important;
  }

  .navbar_header_item .profile_title {
    display: none;
  }

  .navbar_header_item .cart_title {
    display: none;
  }

  .header_logo {
    width: 200px;
    height: 45px;
  }

  .user_profile svg {
    width: 35px !important;
    height: 35px !important;
  }

  .add_cart_icon svg {
    width: 35px !important;
    height: 35px !important;
  }
}

/* Navbar Header End */

/* Navbar Start */
.navbar {
  width: 100%;
  border-bottom: 1px solid hsla(0, 14%, 5%, 0.2);
  z-index: 10;
  padding: 12px 0 !important;
}

.navbar .Category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  padding: 5px 10px;
  border-radius: 6px;
}

.navbar .Category span {
  color: var(--white);
  font-family: var(--secendary-font);
  font-size: 16px;
  padding-left: 10px;
}

.navbar .menu ul {
  list-style: none;
}

.navbar .menu > ul > li {
  display: inline-block;
}

.navbar .menu > ul > li:not(:last-child) {
  margin-right: 40px;
}

.navbar .menu .dropdown {
  position: relative;
}

.navbar .menu ul li a {
  position: relative;
  font-size: 18px;
  font-family: var(--secendary-font);
  font-weight: 500;
  color: var(--primary-color);
  display: inline-block;
  transition: 0.4s;
}

.navbar .menu li a:not(.cta-button a):after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--secendary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.navbar .menu li a.active {
  color: var(--secendary-color);
}

.navbar .menu li a.active::after,
.navbar .menu li a:not(.cta-button a):hover::after {
  transform: scaleX(1) !important;
  transform-origin: left;
  left: 0;
}

.navbar .menu ul li a:hover {
  color: var(--secendary-color);
}

.navbar .menu ul li:hover i {
  color: var(--secendary-color) !important;
  transform: rotate(-180deg);
}

.navbar .menu > ul > li > a {
  padding: 4px 0px 4px 0px;
}

.navbar .menu > ul > .dropdown > a {
  padding-right: 20px;
}

.navbar .menu i {
  font-size: 16px;
  pointer-events: none;
  position: absolute;
  color: var(--bg-color);
  top: calc(50% - 9px);
}

.navbar .menu > ul > li > i {
  right: 0px;
}

.navbar .menu .sub-menu {
  position: absolute;
  top: 35px;
  left: -80px;
  width: 260px;
  padding: 15px 0;
  background: transparent;
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
}

.navbar .menu .sub-menu li a:not(.cta-button a):after {
  position: fixed;
}

.navbar .menu .sub-menu .sub-menu-wrapper {
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.2);
  padding: 10px;
}

.navbar .menu .sub-menu .sub-menu-wrapper li {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}

.navbar .menu .sub-menu .sub-menu-wrapper li a {
  font-size: 16px;
  padding: 0px;
}

.navbar .menu .sub-menu .sub-menu-wrapper li a span {
  font-family: var(--secendary-font);
}

.navbar .menu .sub-menu-right {
  left: 100%;
  top: 0;
}

.navbar .menu .sub-menu-left {
  left: auto;
  top: 0;
  right: 100%;
}

.navbar .menu li:hover > .sub-menu {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.7s ease;
  border-radius: 12px;
}
.navbar .menu li:hover > .sub-menu .sub-menu-wrapper {
  margin-top: 26px;
}

.navbar .menu .sub-menu a {
  padding: 6px 24px;
}

.navbar .menu .sub-menu .dropdown > a {
  padding-right: 34px;
}

.navbar .menu .sub-menu span {
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}

.navbar .menu .sub-menu li:hover > a > span {
  background-size: 100% 2px;
}

.navbar .menu .sub-menu i {
  transform: rotate(-90deg);
  right: 24px;
  color: var(--white) !important;
}

.navbar-right {
  display: none;
}

.navbar-right .icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
}

.navbar-right .open-menu-btn {
  display: none;
}

.navbar .menu .close-menu-btn {
  height: 35px;
  width: 35px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.navbar .menu .close-menu-btn::before,
.navbar .menu .close-menu-btn::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: var(--white);
}
.navbar .menu .close-menu-btn::before {
  transform: rotate(45deg);
}

.navbar .menu .close-menu-btn::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 12px 0;
  }

  .navbar-right {
    display: block;
  }

  .navbar .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background: var(--primary-color);
    padding: 15px 20px 30px;
    z-index: 1;
    transform: translateX(100%);
  }

  .navbar .menu.open {
    transform: none;
  }

  .sub-menu-wrapper {
    margin: 0px !important;
    background: none !important;
    box-shadow: none !important;
  }

  .navbar .menu li a:not(.cta-button a):after {
    width: 0px;
  }

  .navbar .menu li a.active {
    color: var(--secendary-color);
  }

  .navbar .menu li a.active::after,
  .navbar .menu li a:not(.cta-button a):hover::after {
    transform: scaleX(1) !important;
    transform-origin: left;
    left: 0;
  }

  .navbar .menu .sub-menu .sub-menu-wrapper {
    padding: 0px;
    margin-bottom: 10px !important;
  }

  .navbar .menu .sub-menu .sub-menu-wrapper li {
    border-bottom: none;
    padding: 4px 10px;
  }

  .navbar .menu .sub-menu .sub-menu-wrapper li span {
    position: relative;
    font-size: 14px;
    padding-left: 16px;
    transition: 0.4s;
  }

  .navbar .menu ul li a:hover span::after {
    background: var(--secendary-color) !important;
  }

  .navbar .menu .sub-menu .sub-menu-wrapper li span::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    left: 0;
    top: 4px;
    background: var(--white);
    border-radius: 50%;
    transition: 0.4s;
  }

  .navbar .menu ul li a {
    color: var(--white);
    font-size: 16px;
    transition: 0s;
  }

  .navbar .menu .close-menu-btn {
    display: inline-flex;
  }

  .navbar .menu > ul > li {
    display: block;
  }

  .navbar .menu > ul > li:not(:last-child) {
    margin-right: 0px !important;
  }

  .navbar .menu li {
    border-bottom: 1px solid var(--white);
  }

  .navbar .menu > ul > li > a {
    padding: 12px 0;
  }

  .navbar .menu > ul > .dropdown > a {
    padding-right: 34px;
  }

  .navbar .menu i {
    height: 34px;
    width: 34px;
    border: 1px solid #fff;
    color: var(--white) !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    top: 7px;
  }

  .navbar .menu .sub-menu {
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    padding: 0;
    transition: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }

  .navbar .menu .sub-menu .fa-chevron-down {
    color: var(--white) !important;
  }

  .navbar .menu .dropdown.active > .sub-menu {
    display: block;
  }

  .navbar .menu ul li:hover i {
    color: var(--white) !important;
    transform: rotate(0deg);
  }

  .navbar .menu .dropdown.active > i {
    background-color: var(--bg-color);
    transform: rotate(180deg);
    color: var(--secendary-color) !important;
  }

  .navbar .menu .sub-menu li:last-child {
    border: none;
  }

  .navbar .menu .sub-menu a {
    padding: 12px 0 12px 15px;
  }

  .navbar .menu .sub-menu .sub-menu a {
    padding-left: 30px;
  }

  .navbar .menu .sub-menu .sub-menu .sub-menu a {
    padding-left: 45px;
  }

  .navbar .menu .sub-menu span {
    background-image: none;
  }

  .navbar .menu .sub-menu i {
    transform: none;
    right: 0;
  }

  .navbar-right .open-menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 44px;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
  }

  .navbar-right .open-menu-btn .line {
    height: 2px;
    width: 30px;
    background: var(--bg-color);
    position: absolute;
  }

  .navbar-right .open-menu-btn .line-1 {
    transform: translateY(-8px);
  }

  .navbar-right .open-menu-btn .line-3 {
    transform: translateY(8px);
  }
}
/* Navbar End */

/* Footer Start */
#footer {
  background: #191919;
}

.footer_wrapper {
  padding: 40px 0;
}

.footer_item h1 {
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 0;
}

.footer_item ul li a {
  color: var(--white);
  font-family: var(--secendary-font);
  font-size: 16px;
  font-weight: 400;
  transition: 0.4s;
}

.footer_item ul li a:hover {
  color: var(--secendary-color);
}

.footer_item ul li {
  margin-bottom: 10px;
}

.footer_item .logo {
  width: 200px;
  padding-bottom: 20px;
}

.footer_item .logo img {
  width: 100%;
}

.payment_mathode img {
  width: 90%;
  display: block;
  margin: auto;
}

.footer_item .icon svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.copyright {
  background: var(--bg-color);
  padding: 20px 0;
}

.copyright_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright .footer_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright p {
  font-size: 16px;
  font-family: var(--secendary-font) !important;
  color: var(--white);
  font-weight: normal;
  margin: 0px;
}

.copyright span {
  font-size: 18px;
  font-family: var(--secendary-font);
  color: var(--white);
  font-weight: normal;
}

.footer_social_link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_social_link h1 {
  margin: 0px;
  font-family: var(--secendary-font);
  color: var(--white);
  font-size: 16px;
}

.footer_social_link .link_item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer_social_link .link_item a:hover {
  background: var(--white);
  border: none !important;
}

.footer_social_link .link_item i {
  color: var(--white);
}

.footer_social_link .link_item a:hover i {
  color: var(--primary-color) !important;
}

.footer_social_link .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  border: 1px solid var(--strock-color);
  transition: 0.4s;
}

.footer_item .footer_social_link i {
  color: var(--white) !important;
}

@media screen and (max-width: 992px) {
  .copyright_wrapper {
    display: block;
  }

  .copyright p {
    font-size: 14px;
    text-align: center;
  }

  .footer_social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .footer_social_link h1 {
    font-size: 14px;
  }

  .footer_social_link .link_item {
    gap: 5px;
  }

  .footer_social_link .social a {
    font-size: 14px;
    padding: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
  }
}
/* Footer End */
